:root {
  --color-primary:#FF0800;
  --color-primary-light:#B30000;
  --color-primary-light-2:#FF5500;
  --color-text-light-2:#3C3332; }

@keyframes moveRight {
  0% {
    transform: translateX(-2rem); }
  50% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: trnaslateX(0rem); } }

@keyframes moveLeft {
  0% {
    transform: translateX(3rem); }
  50% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: trnaslateX(0rem); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 106.25em) {
    html {
      font-size: 87.5%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 500;
  min-height: 100vh;
  color: var(--color-text-light-2);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem; }

::selection {
  background: #FF0800;
  color: #fff; }

::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.25); }

::-webkit-scrollbar-thumb {
  background: #FF0800;
  border-radius: 2px; }

.h-4 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Montserrat"; }

.h-1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  font-family: "Montserrat"; }
  @media only screen and (min-width: 93.75em) {
    .h-1 {
      text-align: center; } }
  @media only screen and (max-width: 46.875em) {
    .h-1 {
      text-align: center; } }

.p {
  font-size: 1.6rem;
  color: #898989;
  font-weight: 500;
  text-align: center; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 93.75em) {
    .mb-md {
      margin-bottom: 4rem; } }

.mb-lg {
  margin-bottom: 4.5rem; }
  @media only screen and (max-width: 46.875em) {
    .mb-lg {
      margin-bottom: 3rem; } }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 0 0;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  background: #fff; }
  @media only screen and (max-width: 34.375em) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 35; } }
  .header__logo {
    width: 18rem;
    margin-top: -1rem;
    height: 9.5rem; }
    .header__logo-img {
      width: 100%; }
  .header__icon {
    fill: var(--color-primary);
    width: 100%;
    height: 100%; }
  .header__nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    animation: moveLeft .5s  ease-in forwards; }
    @media only screen and (max-width: 34.375em) {
      .header__nav {
        flex-direction: column;
        justify-content: start;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateX(100%);
        opacity: 0;
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(3px);
        transition: all .3s;
        padding: 10rem;
        z-index: 2000;
        height: 100vh; } }
    .header__nav.active {
      transform: translateX(0);
      opacity: 1; }
  .header__item:visited, .header__item:link {
    text-transform: capitalize;
    padding: 1.8rem 3rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: #373737;
    font-weight: 500;
    display: inline-block;
    position: relative;
    transition: all .3s; }
    @media only screen and (max-width: 34.375em) {
      .header__item:visited, .header__item:link {
        width: 100%;
        color: #fff; } }
  .header__item:hover, .header__item:active {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    color: var(--color-primary); }
  .header__item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all .3s; }
  .header__item:hover::after {
    transform: scaleX(1); }
  .header__item.active::after {
    transform: scaleX(1); }
  .header__toggle-btn {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: none;
    margin-right: -2rem; }
    @media only screen and (max-width: 34.375em) {
      .header__toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        margin-top: -1.5rem; } }
  .header__toggle-btn:hover .header__toggle-bar::before {
    transform: translateY(-1rem); }
  .header__toggle-btn:hover .header__toggle-bar::after {
    transform: translateY(1rem); }
  .header__toggle-btn.active .header__toggle-bar::before {
    transform: translateY(0rem) rotate(135deg); }
  .header__toggle-btn.active .header__toggle-bar::after {
    transform: translateY(0rem) rotate(-135deg); }
  .header__toggle-btn.active .header__toggle-bar {
    background-color: transparent; }
  .header__toggle-bar {
    width: 3.5rem;
    height: 2px;
    background: var(--color-primary);
    border-radius: 8px;
    position: relative; }
    .header__toggle-bar::after, .header__toggle-bar::before {
      content: '';
      width: 3.5rem;
      height: 2px;
      border-radius: 8px;
      background-color: var(--color-primary);
      left: 0;
      transition: all .3s;
      position: absolute; }
    .header__toggle-bar::after {
      transform: translateY(0.8rem); }
    .header__toggle-bar::before {
      transform: translateY(-0.8rem); }

.btn {
  padding: 1.5rem 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  border-radius: .5rem;
  transition: all .3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  cursor: pointer; }
  .btn:hover {
    background: #000;
    color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    translate: 0 -.3rem; }
  .btn--view {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 1.5rem 6rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5rem;
    transition: all .3s;
    text-decoration: none;
    cursor: pointer; }
    .btn--view:hover {
      background: #000;
      border-color: #000;
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35); }
    .btn--view:focus {
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }

.carousel {
  position: relative; }
  @media only screen and (max-width: 34.375em) {
    .carousel {
      margin-top: 8rem; } }

.carousel__btn--prev, .carousel__btn--next {
  position: absolute;
  width: 5rem;
  height: 100%;
  top: 45%;
  fill: #777;
  cursor: pointer;
  transition: all .3s;
  top: 0;
  z-index: 4; }

.carousel__btn--prev {
  left: 0; }

.carousel__btn--next {
  right: 0; }

.carousel__btn--next:hover, .carousel__btn--prev:hover {
  fill: #ff0800; }

.carousel__slides {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .4s; }
  @media only screen and (max-width: 31.875em) {
    .carousel__slides {
      height: 40vh; } }
  .carousel__slides > * {
    transition: all .5s ease; }
  .carousel__slides .slide-1 {
    background: url(../img/carousel-img-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .carousel__slides .slide-2 {
    background: url(../img/carousel-img-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .carousel__slides .slide-3 {
    background: url(../img/carousel-img-3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .carousel__slides .slide-4 {
    background: url(../img/carousel-img-4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .carousel__slides .slide-5 {
    background: url(../img/carousel-img-5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.carousel__slides:hover .carousel__btn--next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.35), transparent); }

.carousel__slides:hover .carousel__btn--prev {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.35), transparent); }

.carousel .slides {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center; }

.carousel__indicators {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0; }
  .carousel__indicators .dots {
    width: 8px;
    height: 8px;
    display: inline-block;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
    background: #999;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s; }
    .carousel__indicators .dots:not(:last-child) {
      margin-right: 1rem; }
  .carousel__indicators .dots.active {
    background: #ff0800; }

.about {
  padding: 6rem 8rem; }
  @media only screen and (max-width: 46.875em) {
    .about {
      padding: 4rem 4rem; } }
  @media only screen and (max-width: 34.375em) {
    .about {
      margin-top: 8rem; } }
  .about__content {
    display: flex;
    gap: 3rem;
    width: 80vw;
    text-align: right;
    align-items: center;
    margin: 0 auto 0rem auto; }
    @media only screen and (max-width: 46.875em) {
      .about__content {
        flex-direction: column;
        text-align: justify; } }
    .about__content:not(:last-child) {
      margin-bottom: 6rem; }
    .about__content:nth-child(odd) {
      flex-direction: row-reverse;
      text-align: left; }
      @media only screen and (max-width: 46.875em) {
        .about__content:nth-child(odd) {
          flex-direction: column;
          text-align: justify; } }
    .about__content--img {
      width: 50%; }
      @media only screen and (max-width: 46.875em) {
        .about__content--img {
          width: 100%; } }
    .about__content--text {
      font-size: 1.6rem;
      padding: 3rem;
      border-right: 3rem solid #ff0800;
      border-left: 3rem solid #ff0800; }
      @media only screen and (max-width: 46.875em) {
        .about__content--text {
          border-width: 2rem; } }

.project__gallery--heading {
  grid-column: 1/ -1; }

.project__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  grid-auto-rows: min-content 30rem;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom right, rgba(255, 8, 0, 0.25), rgba(255, 85, 0, 0.25)); }
  @media only screen and (max-width: 34.375em) {
    .project__gallery {
      grid-template-columns: 90%; } }

.project__gallery--box {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.25); }

.project__gallery--box:hover .project__gallery--img-overlay {
  transform: translateY(0);
  opacity: 1; }

.project__gallery--img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: 100%; }

.project__gallery--img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 8, 0, 0.75), rgba(255, 85, 0, 0.75));
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  opacity: 0;
  transition: all .3s; }

.project {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background: #f9f9f9; }
  @media only screen and (max-width: 34.375em) {
    .project {
      margin-top: 9rem; } }
  .project__heading {
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #ff0800, #ff5500);
    padding: 1.5rem; }
  .project__content {
    display: flex;
    color: #000;
    font-size: 1.6rem;
    gap: 3rem;
    width: 90vw;
    font-weight: 500;
    background: #fff;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: justify; }
    @media only screen and (max-width: 46.875em) {
      .project__content {
        flex-direction: column;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); } }
    @media only screen and (max-width: 34.375em) {
      .project__content {
        flex-direction: column; } }
    .project__content:nth-child(odd) {
      flex-direction: row-reverse; }
      @media only screen and (max-width: 46.875em) {
        .project__content:nth-child(odd) {
          flex-direction: column; } }
    .project__content:last-child {
      margin-bottom: 6rem; }
  .project__img {
    width: 60rem;
    filter: contrast(100%); }
    @media only screen and (max-width: 46.875em) {
      .project__img {
        width: 90%; } }
    @media only screen and (max-width: 34.375em) {
      .project__img {
        width: 90%; } }
  .project__desc {
    border-right: 3rem solid #ff0800;
    border-left: 3rem solid #ff0800;
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .project__desc {
        border: none;
        padding: 2rem; } }
    @media only screen and (max-width: 46.875em) {
      .project__desc {
        border: none; } }

.main {
  position: relative; }
  .main__vision, .main__mission {
    padding: 6rem 8rem 0 8rem; }
    .main__vision--box, .main__mission--box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem; }
      @media only screen and (max-width: 31.875em) {
        .main__vision--box, .main__mission--box {
          flex-direction: column; } }
    .main__vision--img, .main__mission--img {
      width: 60rem; }
      @media only screen and (max-width: 31.875em) {
        .main__vision--img, .main__mission--img {
          width: 100%; } }
  .main__mission {
    background: linear-gradient(to bottom right, rgba(255, 8, 0, 0.25), rgba(255, 85, 0, 0.25));
    color: #000;
    margin-top: 6rem; }
    .main__mission--box {
      flex-direction: row-reverse; }
      @media only screen and (max-width: 31.875em) {
        .main__mission--box {
          flex-direction: column;
          padding-bottom: 6rem; } }
  .main .expertise {
    padding: 6rem 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem; }
    .main .expertise h1 {
      align-self: start; }
      @media only screen and (min-width: 93.75em) {
        .main .expertise h1 {
          align-self: center; } }
      @media only screen and (max-width: 46.875em) {
        .main .expertise h1 {
          align-self: center; } }
  .main__expertise {
    position: relative;
    margin: 0 auto; }
    .main__expertise > * {
      width: 28rem;
      height: 24rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ff0800;
      font-size: 3rem;
      box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.15);
      font-weight: 600;
      position: relative;
      border-radius: 12px;
      transition: all .3s;
      cursor: pointer; }
      @media only screen and (max-width: 50em) {
        .main__expertise > * {
          width: 25rem;
          height: 20rem; } }
      @media only screen and (max-width: 41.875em) {
        .main__expertise > * {
          width: 50vw;
          height: 20rem; }
          .main__expertise > *:not(:last-child) {
            margin-bottom: 4rem; } }
    .main__expertise > *:hover {
      background: #fff;
      z-index: 2;
      transform: scale(1.05);
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.25); }
    .main__expertise--interiors {
      margin-left: 22rem;
      margin-top: -8rem; }
      @media only screen and (max-width: 50em) {
        .main__expertise--interiors {
          margin-left: 20rem;
          margin-top: -6rem; } }
      @media only screen and (max-width: 41.875em) {
        .main__expertise--interiors {
          margin: 0; } }
    .main__expertise--landscape {
      margin-left: 44rem;
      margin-top: -8rem;
      position: relative; }
      @media only screen and (max-width: 50em) {
        .main__expertise--landscape {
          margin-left: 40rem;
          margin-top: -6rem; } }
      @media only screen and (max-width: 41.875em) {
        .main__expertise--landscape {
          margin: 0; } }
    .main__expertise--planning::before, .main__expertise--landscape::before {
      position: absolute;
      content: '';
      width: 10vw;
      height: 3rem;
      background: linear-gradient(to right, #ff0800, #ff5500);
      border-radius: 5px; }
      @media only screen and (max-width: 41.875em) {
        .main__expertise--planning::before, .main__expertise--landscape::before {
          width: 20vw;
          height: 3rem; } }
    .main__expertise--landscape::before {
      bottom: 0;
      transform: translateY(1.5rem); }
    .main__expertise--planning::before {
      top: 0;
      transform: translateY(-1.5rem); }

.footer {
  background: linear-gradient(to right bottom, #ff0800, #ff5500);
  padding: 6rem 8rem;
  display: flex;
  color: #fff;
  gap: 6rem; }
  @media only screen and (max-width: 46.875em) {
    .footer {
      padding: 4rem;
      flex-direction: column;
      gap: 3rem; } }
  .footer__icon {
    width: 2rem;
    fill: #fff;
    height: 2rem;
    line-height: 0;
    margin-right: 1rem;
    transform: translateY(0.3rem);
    cursor: pointer; }
  .footer__about {
    display: flex;
    flex-direction: column;
    flex: 0 0 50rem;
    margin-right: auto; }
    @media only screen and (max-width: 46.875em) {
      .footer__about {
        flex: 0 0 0;
        text-align: center; } }
  .footer__text {
    text-align: justify; }
    @media only screen and (max-width: 46.875em) {
      .footer__text {
        text-align: center; } }
  .footer__btn {
    align-self: flex-start;
    text-decoration: none; }
    @media only screen and (max-width: 46.875em) {
      .footer__btn {
        align-self: center;
        padding-left: 8rem;
        padding-right: 8rem; } }
  .footer__contact-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem; }
    @media only screen and (max-width: 46.875em) {
      .footer__contact-box {
        flex: 0 0 100%;
        text-align: center; } }
    .footer__contact-box span {
      font-size: 2rem;
      text-transform: capitalize; }
    .footer__contact-box p {
      font-size: 1.4rem;
      font-weight: 500;
      padding-left: 3.5rem; }
